<header class="toolbar" role="banner">
  <span>{{headerText | async}}</span>
  <span>
    <ng-container i18n>
      Database-Importer v
    </ng-container>
    {{version}}
  </span>
  <div class="spacer"></div>
  <div id="username">
    {{authenticatedUser | async}}
  </div>
</header>

<main class="content" role="main" *ngIf="(notAuthorized | async) === false">
  <router-outlet></router-outlet>
</main>

<footer>
  <button *ngIf="(errorPresent | async) === true" (click)="clearError()" class="error" title="Clear error" i18n-title>
    {{error | async}}
  </button>
  <ng-container *ngIf="(notAuthorized | async) === true">
    <div class="backdrop"></div>
    <div class="busy" i18n>
      You don't have sufficient rights to import into database.
    </div>
  </ng-container>
</footer>

<ng-container *ngIf="(busy | async) === true">
  <div class="backdrop"></div>
  <div class="busy" i18n>Working...</div>
</ng-container>