<header class="toolbar" role="banner">
  <span>{{headerText | async}}</span>
  <span>Datenbank-Importer v{{version}}</span>
  <div class="spacer"></div>
  <div id="username">
    {{authenticatedUser | async}}
  </div>
</header>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p *ngIf="(errorPresent | async) === true" class="error">
    {{error | async}}
  </p>
  <ng-container *ngIf="(notAuthorized | async) === true">
    <div class="backdrop"></div>
    <div class="busy">
      Sie verfügen über keine Berechtigung zum Importieren in die Datenbank.
    </div>
  </ng-container>
</footer>

<ng-container *ngIf="busy === true">
  <div class="backdrop"></div>
  <div class="busy">Arbeite...</div>
</ng-container>