<div class="breadcrumb">
    <ng-container *ngIf="(schemasCount | async)! > 1; else noHome">
        <a [routerLink]="['/']">
            Home
        </a>
    </ng-container>
    <ng-template #noHome>
        Home
    </ng-template>
    &rarr;
    <a [routerLink]="['/', 'schema', schema]">
        Schema {{schema}}
    </a>
</div>

<div class="success" *ngIf="(importedRows | async) !== undefined">
    <ng-container>
        Successfully imported 
    </ng-container>
    {{importedRows | async}} 
    <ng-container>
        rows.
    </ng-container>
</div>
<div *ngIf="(rowCount | async) === 0">
    After copying your table content to clipboard, paste it here with Ctrl + V.
</div>
<div *ngIf="(rowCount | async) !== 0">
    Replace data here with Ctrl + V.
</div>
<div class="button-container" *ngIf="(canImport | async) === true">
    <button type="button" (click)="onImport()">Start import</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="padding:0;"></th>
            <th style="padding:0;">#</th>
            <th *ngFor="let column of (columnMappings | async); let i = index"
                draggable="true"
                (dragstart)="onDragStart($event, i)"
                (dragend)="onDragEnd()"
                (dragover)="onDragOver($event, i)"
                (drop)="onDrop(i)"
                [ngClass]="{dragging: this.sourceIndex === i, target: presumedTargetIndex === i, primary: (getColumn(column) | async)?.primary, foreign: (getColumn(column) | async)?.foreignKey}"
                [attr.title]="getColumnTitle(column) | async"
                class="position-relative">
                {{(getColumn(column) | async)?.name}}
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.primary === true">
                    This column is used for the primary key of the table.
                </span>
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.foreignKey === true">
                    This column contains a foreign key pointing to another table.
                </span>
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.unique === true">
                    This column must contain unique entries.
                </span>
           </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowNumber of (rowNumbers | async)" [ngClass]="{'position-relative': (getRowContainsErrors(rowNumber) | async) === true}">
            <td [attr.title]="getRowErrorDescriptions(rowNumber) | async">
                <app-error-badge *ngIf="(getRowContainsErrors(rowNumber) | async) === true" [errorDescription]="getRowErrorDescriptions(rowNumber) | async"></app-error-badge>
            </td>
            <td class="align-right">
                {{rowNumber}}
            </td>
            <td *ngFor="let column of (columnMappings | async); let i = index"
                [ngClass]="{error: (getCellInformation(rowNumber, i) | async)?.containsErrors}"
                [attr.title]="(getCellInformation(rowNumber, i) | async)?.errorText">
                {{(getCellInformation(rowNumber, i) | async)?.value}}
            </td>
        </tr>
    </tbody>
</table>

