<div *ngIf="(rowCount | async) === 0">
    After copying your table content to clipboard, paste it here with Ctrl + V.
</div>
<button type="button" style="margin: 0.5rem" *ngIf="(canImport | async) === true" (click)="onImport()">Start import</button>
<table class="table">
    <thead>
        <tr>
            <th style="padding:0;"></th>
            <th *ngFor="let column of (columnMappings | async); let i = index"
                draggable="true"
                (dragstart)="onDragStart($event, i)"
                (dragend)="onDragEnd()"
                (dragover)="onDragOver($event, i)"
                (drop)="onDrop(i)"
                [ngClass]="{dragging: this.sourceIndex === i, target: presumedTargetIndex === i, primary: (getColumn(column) | async)?.primary, foreign: (getColumn(column) | async)?.foreignKey}"
                [attr.title]="getColumnTitle(column) | async"
                class="position-relative">
                {{(getColumn(column) | async)?.name}}
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.primary === true">
                    Diese Spalte wird für den Primärschlüssel der Tabelle verwendet.
                </span>
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.foreignKey === true">
                    Diese Spalte enthält einen Fremdschlüssel auf eine andere Tabelle.
                </span>
                <span class="visually-hidden" *ngIf="(getColumn(column) | async)?.unique === true">
                    In dieser Spalte der Tabelle dürfen keine doppelten Einträge vorhanden sein.
                </span>
           </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowNumber of (rowNumbers | async)">
            <td>
                <div class="error-sign" *ngIf="(getRowContainsErrors(rowNumber) | async) === true">!</div>
                <span class="visually-hidden">
                    Diese Zeile enthält fehlerhafte Daten.
                </span>
            </td>
            <td *ngFor="let column of (columnMappings | async); let i = index"
                [ngClass]="{error: (getCellInformation(rowNumber, i) | async)?.containsErrors}"
                [attr.title]="(getCellInformation(rowNumber, i) | async)?.errorText">
                {{(getCellInformation(rowNumber, i) | async)?.value}}
            </td>
        </tr>
    </tbody>
</table>

